<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm Nhà Cung Cấp</title>
</head>
<body>
<form action="" method="post" style="text-align:center ;margin-top: 200px;">
    <h3>Thêm Nhà Cung Cấp</h3>
    <input type="text" name="tenNhaCungCap" placeholder="ten nha cung cap">
    <br>
    <input type="text" name="diaChi" placeholder="dia chi nha cung cap">
    <br>
    <input type="text" name="maNhaCungCap" placeholder="ma nha cung cap">
    <br>
    <input type="text" name="soDienThoai" placeholder="so dien thoai">
    <br>
    <input type="text" name="moTa" placeholder="mo ta">
    <br>
    <button type="submit">Thêm</button>
</form>
</body>
</html>